/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.animate-cart-in {
	animation: fade-in 0.15s ease-out,
						 slide-in 0.15s ease-out;
}

.animate-cart-out {
	animation: fade-out 0.10s ease-out,
						 slide-out 0.10s ease-out;
}
@keyframes fade-in {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes fade-out {
	from { opacity: 1; }
	to { opacity: 0; }
}

@keyframes slide-in {
	from { transform: translateX(1rem); }
	to { transform: translateX(0); }
}

@keyframes slide-out {
	from { transform: translateX(0); }
	to { transform: translateX(1rem); }
}


@keyframes line-item-highlight {
	0% {
		background: #8f8;
	}
	100% {
		background: none;
	}
}

.line-item-highlight {
	animation: line-item-highlight 1s;
}
