<% if cart && !cart.line_items.empty? %>
	<%= tag.div id: 'cart', class: "bg-white rounded p-2", data: {
        stream_enter_class: "animate-cart-in",
        stream_exit_class: "animate-cart-out"
  } do %>
		<%= render cart %>
  <% end %>
<% else %>
	<div id="cart"></div>
<% end %>
